<script defer src="/src/js/main.js"></script>
<script defer src="/src/js/price.js"></script>

<div class="container-sm">
 <div class="accordion accordion-flush" id="accordionFlushExample" >
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" name="model">
        Выбор модели
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body" name="model-check-form">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="modelRadio" id="modelRadioDefault1" checked value="Модель 1" data-price="100">
                <label class="form-check-label" for="modelRadioDefault1">
                  Модель 1
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="modelRadio" id="modelRadioDefault2" value="Модель 2" data-price="200">
                <label class="form-check-label" for="modelRadioDefault2">
                 Модель 2
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="modelRadio" id="modelRadioDefault3" value="Модель 3" data-price="300">
                <label class="form-check-label" for="modelRadioDefault3">
                 Модель 3
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="modelRadio" id="modelRadioDefault4" value="Модель 4" data-price="400">
                <label class="form-check-label" for="modelRadioDefault4">
                 Модель 4
                </label>
            </div>
          </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Выбор pазмера
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body" name="size-check-form">
          
         <div class="form-check">
                <input class="form-check-input" type="radio" name="sizeRadio" id="sizeRadioDefault1" checked value="Размер 1" data-price="100">
                <label class="form-check-label" for="sizeRadioDefault1">
                  Размер 1
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="sizeRadio" id="sizeRadioDefault2" value="Размер 2" data-price="200">
                <label class="form-check-label" for="sizeRadioDefault2">
                 Размер 2
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="sizeRadio" id="sizeRadioDefault3" value="Размер 3" data-price="300">
                <label class="form-check-label" for="sizeRadioDefault3">
                 Размер 3
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="sizeRadio" id="sizeRadioDefault4" value="Размер 4" data-price="400">
                <label class="form-check-label" for="sizeRadioDefault4">
                 Размер 4
                </label>
            </div>
          </div>

          </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Выбор материала
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body" name="material-check-form">
          
          <div class="form-check">
                <input class="form-check-input" type="radio" name="materialRadio" id="materialRadioDefault1" checked value="Материал 1" data-price="20">
                <label class="form-check-label" for="materialRadioDefault1" >
                  Материал 1
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="materialRadio" id="materialRadioDefault2" value="Материал 2" data-price="64">
                <label class="form-check-label" for="materialRadioDefault2">
                 Материал 2
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="materialRadio" id="materialRadioDefault3" value="Материал 3" data-price="99">
                <label class="form-check-label" for="materialRadioDefault3">
                 Материал 3
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="materialRadio" id="materialRadioDefault4" value="Материал 4" data-price="199">
                <label class="form-check-label" for="materialRadioDefault4">
                 Материал 4
                </label>
            </div>
          
          </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
        Выбор цвета
      </button>
    </h2>
    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body" name="color-check-form">
          <div class="form-check">
                <input class="form-check-input" type="radio" name="colorRadio" id="colorRadioDefault1" checked value="Цвет 1" data-price="15">
                <label class="form-check-label" for="colorRadioDefault1">
                  Цвет 1
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="colorRadio" id="colorRadioDefault2" value="Цвет 2" data-price="19">
                <label class="form-check-label" for="colorRadioDefault2">
                 Цвет 2
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="colorRadio" id="colorRadioDefault3" value="Цвет 3" data-price="39">
                <label class="form-check-label" for="colorRadioDefault3">
                 Цвет 3
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="colorRadio" id="colorRadioDefault4" value="Цвет 4" data-price="43">
                <label class="form-check-label" for="colorRadioDefault4">
                 Цвет 4
                </label>
            </div>
          </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
        Добавление надписи, изображения, рисунка
      </button>
    </h2>
    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
          
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1" value="Оставить шоппер без надписей, изображений">
                <label class="form-check-label" for="flexCheckDefault1">
                    Оставить шоппер без надписей, изображений
                </label>
            </div>
            <br>
            <div class="input-group">
                <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                <button class="btn btn-primary" type="button" id="inputGroupFileAddon04">Загрузить</button>
            </div>
            <br>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Введите надпись на шопере" aria-label="Recipient's username" aria-describedby="button-addon2" autocomplete="off" name="shoper_inscription">
                <button class="btn btn-primary" type="button" id="button-addon2">ОК</button>
            </div>

    </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
        Определение финальной стоимости
      </button>
    </h2>
    <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
          
          <div class="input-group mb-3">
                <input type="number" class="form-control" placeholder="мин. 500 шт." aria-label="pcs" min="500" step="100">
                <input type="submit" class="btn btn-primary" value="Подтвердить">
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Индивидуальный пакет" name="option1" id="flexCheckDefault1" data-price="3">
                <label class="form-check-label" for="flexCheckDefault1">
                    Индивидуальный пакет (+3 руб./шт)
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Пришивная бирка" name="option2" id="flexCheckDefault2" data-price="1">
                <label class="form-check-label" for="flexCheckDefault2">
                    Пришивная бирка (+1 руб./шт) – информация на бирке уточняется менеджером после размещения заказа
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Наклейка с информацией, штрихкодом" id="flexCheckDefault3">
                <label class="form-check-label" for="flexCheckDefault3">
                    Наклейка с информацией, штрихкодом -  – информация на наклейке уточняется менеджером после размещения заказа
                </label>
            </div>
          
          </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
        Контактные данные
      </button>
    </h2>
    <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <div>

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="ФИО" aria-label="Recipient's username" aria-describedby="button-addon2" name="client_name">
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Телефон" aria-label="Recipient's username" aria-describedby="button-addon2" name="client_phone">
            </div>
            <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="e-mail" aria-label="Recipient's username" aria-describedby="button-addon2">
                <span class="input-group-text">@</span>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Адрес доставки" aria-label="Recipient's username" aria-describedby="button-addon2" name="address">
            </div>
            <button class="btn btn-primary" type="button" id="button-addon2">Заказать</button>
          
          </div>
        </div>
    </div>
  </div>

</div>
</div>