.container-sm {
     /*width: 70%;*/
}
.header {
  min-width: 300px;
  padding: 30px;
  margin-bottom: 30px;
}

.header__wrapper {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 235, 205);
  border-radius:  40px;
  box-shadow: 0 0 10px rgba(89, 59, 59, 0.5);
  flex-wrap: wrap;
}

.name {
  font-size: 40px;
  font-weight: 800;
  padding-right: 30px;
  padding-left: 10%;
}

.header__list {
  display: flex;
  /* justify-content: center; */
  list-style-type: none;
  flex-wrap: wrap;
}

.header__list a {
  display: block;
  font-size: 20px;
  font-weight: 600;
  padding-right: 30px;
  text-decoration: none;
  color: black;
  position: relative;
  width: fit-content;
}

.header__list a:hover::before {
  content: "";
  position: absolute; 
  display: block;
  bottom: -5px;
  border-radius: 30px;
  
  width: 80%;
  height: 5px;
  background-color: rgb(112, 179, 58);
  z-index: 1; 
  filter: drop-shadow( 0 0 5px rgb(112, 179, 58) );
}

.header__logo {
  margin-right: auto;
  border-radius: 80px;
}

.main-wrapper {
  padding: 30px;
}

/* .main__flex {
  display: flex;

} */

/* .main__card{
  display: grid;
  row-gap: 30px;
} */

.main__flex {
  display: flex;
  position: relative;
  padding: 10px;
  /* outline: 1px solid chartreuse; */
  /* justify-content: center; */
  flex-wrap: wrap;
}

.main__left {
  display: block;
  /* justify-content: center; */
  /* outline: 1px solid rgb(41, 66, 15); */
  /* margin-bottom: 30px; */
  margin-right: auto ;
 margin-left: auto;
 
 
}
.main__img{
  box-shadow: 0 0 20px rgba(89, 59, 59, 0.5);
}

.main__right{
  /* margin: auto; */
  /* margin: 10%; */
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top:0;
}

.main__img{
  margin-bottom: 30px;
  border-radius: 10%;
  box-shadow: ;
}

.main__price {
  display: block;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  background-color: chartreuse;
  margin-bottom: 30px;
  border-radius: 10px;
  /* margin-left: 50%;
  transform: translateX(-50%); */
  /* bottom:0; */
  /* position: absolute; */
}

.map{
  position: relative;
}

.map__about{
  position: absolute;
  display: block;
  padding:5px;
  width: 300px;
  height: 150px;
  background-color: hsl(90, 6%, 94%);
  left: 30px;
  top:30px;
  box-shadow: 0 0 10px rgba(89, 59, 59, 0.5);
}

.adress{
  display: block;
  padding: 5px;
}

.footer{
  padding: 30px;
  /* display: flex; */
  align-items: center;
  /* justify-content: center; */
  background-color: rgb(255, 235, 205);
  border-radius:  40px;
  box-shadow: 0 0 10px rgba(89, 59, 59, 0.5)
}

.footer__wrapper{
  display: flex;
  
}
.footer__name{
  display: flex;

margin-right: auto;
padding-left: 0;

}

.footer__socials{
  display: flex;
  text-decoration: none;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding-left:0;
}
.footer__socials li{
  display: flex;
  padding-right:10px;
 

  }
.main-footer__facebook {
  content: url(/img/facebook.svg);
  width: 33px;
  height: 33px;
  /* -webkit-filter: drop-shadow( 0px 3px 2px red );
  filter: drop-shadow( 0px 3px 2px red ); */
  /* background-color: chocolate; */
  /* position: absolute;
  z-index: 1; */
}
.main-footer__facebook:hover,
.main-footer__instagram:hover,
.main-footer__twitter:hover
{
  /* -webkit-filter: drop-shadow( 0px 3px 2px rgb(111, 167, 94) ); */
  filter: drop-shadow( 0 0 10px rgb(112, 179, 58) );
}

.main-footer__instagram {
  content: url(/img/icon_instagram.svg);
}

.main-footer__twitter {
  content: url(/img/icon_twitter.svg);
}

.footer__logo{
  margin-left: auto;
  display: flex;
  /* margin-right: auto; */
  /* margin-right: 5%; */
}

