<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<div class="container-sm">
    <div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Выбор модели
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body" name="model-check-form">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="modelRadioDefault1" checked>
                <label class="form-check-label" for="modelRadioDefault1">
                  Модель 1
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="modelRadioDefault2" >
                <label class="form-check-label" for="modelRadioDefault2">
                 Модель 2
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="modelRadioDefault3" >
                <label class="form-check-label" for="modelRadioDefault3">
                 Модель 3
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="modelRadioDefault4" >
                <label class="form-check-label" for="modelRadioDefault4">
                 Модель 4
                </label>
            </div>
          </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Выбор pазмера
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body" name="size-check-form">
          
         <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="sizeRadioDefault1" checked>
                <label class="form-check-label" for="sizeRadioDefault1">
                  Размер 1
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="sizeRadioDefault2" >
                <label class="form-check-label" for="sizeRadioDefault2">
                 Размер 2
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="sizeRadioDefault3" >
                <label class="form-check-label" for="sizeRadioDefault3">
                 Размер 3
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="sizeRadioDefault4" >
                <label class="form-check-label" for="sizeRadioDefault4">
                 Размер 4
                </label>
            </div>
          </div>

          </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Выбор материала
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body" name="material-check-form">
          
          <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="materialRadioDefault1">
                <label class="form-check-label" for="materialRadioDefault1">
                  Материал 1
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="materialRadioDefault2" >
                <label class="form-check-label" for="materialRadioDefault2">
                 Материал 2
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="materialRadioDefault3" >
                <label class="form-check-label" for="materialRadioDefault3">
                 Материал 3
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="materialRadioDefault4" >
                <label class="form-check-label" for="materialRadioDefault4">
                 Материал 4
                </label>
            </div>
          
          </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
        Выбор цвета
      </button>
    </h2>
    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body" name="color-check-form">
          <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="colorRadioDefault1">
                <label class="form-check-label" for="colorRadioDefault1">
                  Цвет 1
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="colorRadioDefault2" >
                <label class="form-check-label" for="colorRadioDefault2">
                 Цвет 2
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="colorRadioDefault3" >
                <label class="form-check-label" for="colorRadioDefault3">
                 Цвет 3
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="colorRadioDefault4" >
                <label class="form-check-label" for="colorRadioDefault4">
                 Цвет 4
                </label>
            </div>
          </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
        Добавление надписи, изображения, рисунка
      </button>
    </h2>
    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
          
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
                <label class="form-check-label" for="flexCheckDefault1">
                    Оставить шоппер без надписей, изображений
                </label>
            </div>
            <br>
            <div class="input-group">
                <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                <button class="btn btn-primary" type="button" id="inputGroupFileAddon04">Загрузить</button>
            </div>
            <br>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Введите надпись на шопере" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-primary" type="button" id="button-addon2">ОК</button>
            </div>

    </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
        Определение финальной стоимости
      </button>
    </h2>
    <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
          
          <div class="input-group mb-3">
                <input type="number" class="form-control" placeholder="мин. 500 шт." aria-label="pcs" min="500" step="100">
                <input type="submit" class="btn btn-primary" value="Подтвердить">
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
                <label class="form-check-label" for="flexCheckDefault1">
                    Индивидуальный пакет (+3 руб./шт)
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                <label class="form-check-label" for="flexCheckDefault2">
                    Пришивная бирка (+1 руб./шт) – информация на бирке уточняется менеджером после размещения заказа
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3">
                <label class="form-check-label" for="flexCheckDefault3">
                    Наклейка с информацией, штрихкодом -  – информация на наклейке уточняется менеджером после размещения заказа
                </label>
            </div>
          
          </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
        Контактные данные
      </button>
    </h2>
    <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <div>

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="ФИО" aria-label="Recipient's username" aria-describedby="button-addon2">
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Телефон" aria-label="Recipient's username" aria-describedby="button-addon2">
            </div>
            <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="e-mail" aria-label="Recipient's username" aria-describedby="button-addon2">
                <span class="input-group-text">@</span>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Адрес доставки" aria-label="Recipient's username" aria-describedby="button-addon2">
            </div>
            <button class="btn btn-primary" type="button" id="button-addon2">Заказать</button>
          
          </div>
        </div>
    </div>
  </div>

</div>
</div>
